body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:0vh;
    font-family: 'MV Boli';
    background:url('img/01.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
h1{
    font-size: 50px;

}
form{
    margin-top: 0.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vh
}
input[type="text"]{
    font-size: 22px;
    border-radius: 20px;
    border: 3px inset hsl(220, 86%, 54%);
    text-align: center;
    padding: 3px;
    font-family: 'MV Boli';
}
input[type='submit']{
    border: 3px solid transparent;
    font-size: 22px;
    background-color: hsla(0, 0%, 0%, 0.899);
    border-radius: 20px;
    padding: 3px;
    font-family: 'MV Boli';
    min-width: 20vh;
    color: whitesmoke;
}

input[type='submit']:hover{
    /* border: 3px solid lightblue; */
    scale: 1.1;
}

input[type='submit']:active{
    background-color: hsl(0, 5%, 4%);
}
#card{
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0vh;
    text-align: center;
}
p{
    max-height: 2vh;
}
#descriptionDisplay{
    color: hsl(348, 5%, 19%)
}

#marker{
    height: 40px
}

#cityDisplay{
    font-weight: bold;
    font-size: 22px;
}

#tempDisplay{
    font-size: 17px;
}