body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'MV Boli';
    flex-wrap: wrap;
    background:url('img/01.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 1rem;
    gap: 0rem;
    margin: 0;
}
#spanTittle{
    text-align: center;
}
h1{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-size:3.5rem;
    margin-bottom: 0;
    gap: 0vh;
    margin: 0rem
}
.titleIcons{
    height: 4.7rem;
    width : 4.7rem;
}
form{
    margin-top: 0.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

}
input[type="text"]{
    font-size: 1.18rem;
    border-radius: 20px;
    border: 3px solid rgb(159, 18, 81);
    text-align: center;
    padding: 3px;
    font-family: 'MV Boli';
    max-width: 12rem;
    max-height: 4rem;

}
input[type='submit']{
    border: 3px solid transparent;
    font-size: 1.18rem;
    background-color: hsla(0, 0%, 0%, 0.899);
    border-radius: 20px;
    padding: 3px;
    font-family: 'MV Boli';
    min-width: 6rem;
    max-height: 4rem;
    color: whitesmoke;
}

input[type='submit']:hover{
    scale: 1.1;
}

input[type='submit']:active{
    background-color: hsl(0, 5%, 4%);
}
#card{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
/* p{
    max-height: 2rem
} */

#descriptionDisplay{
    color: hsl(348, 5%, 19%);
    margin: 0px;
    display: grid;
    place-content: center;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}
#weatherIcon{
    position:relative;
    top: -1rem;
}
#marker{
    max-height: 2.5rem
}

#cityDisplay{
    font-weight: bold;
    font-size: 22px;
}

#tempDisplay{
    font-size: 1.02rem;
    margin: 0;
}
#locationDateDisplay{
    min-width: 4rem
}

#tempIcon, #feelsIcon{
   height: 40px;
   width: 50px;
}
#tempDisplay, #humidityDisplay,#feelsLikeDisplay{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0.5rem;

}
#humidityIcon{
    height: 30px;
    width: 30px;
    position: relative;

}

#windIcon, #speedIcon{
    height: 30px;
    width: 30px;
    position: relative;
    top: 0rem;
}

#timeIcon{
    height:20px;
    width: 20px;
    position: relative;
    top: 0.2rem;
    border-radius: 0.2rem;
}

#WindDisplay{
    display: grid;
    place-content: center;
    padding-bottom: 1rem;
}
.windSpan{
    position: relative;
    bottom: 0.5rem;
}

#gitLink{
    color: khaki;
    text-decoration: none;
}
#gitLink:hover{
    text-decoration: underline;
    color: hsl(330, 84%, 46%);
    box-shadow: 0 0.5rem 8px black;
}
footer{
    text-align: center;
    flex: 1;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

footer p{
    display: inline-block;
    position: relative;
    right: 100%;
    animation: scrolling 20s linear infinite;
}

@keyframes scrolling {
    from{
        right: 100%;
    }
    to{
        right: -100%
    }
}

#footerImg{
    height: 1.4rem;
    width: 1.4rem;
    color: teal;
    position: relative;
    top: 0.1rem;
    border: none;
    border-radius: 10px;
}