body{
    /* margin: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'MV Boli';
    flex-wrap: wrap;
    background:url('img/01.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    gap:0rem;
}
#spanTittle{
    text-align: center;
}
h1{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-size:3.5rem;
    margin-top: 0;
    margin-bottom: 0;
    gap: 0vh;
    
}
.titleIcons{
    height: 4.7rem;
    width : 4.7rem;
}
form{
    margin-top: 0.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

}
input[type="text"]{
    font-size: 1.38rem;
    border-radius: 20px;
    border: 3px inset hsl(220, 86%, 54%);
    text-align: center;
    padding: 3px;
    font-family: 'MV Boli';
}
input[type='submit']{
    border: 3px solid transparent;
    font-size: 1.375rem;
    background-color: hsla(0, 0%, 0%, 0.899);
    border-radius: 20px;
    padding: 3px;
    font-family: 'MV Boli';
    min-width: 4rem;
    color: whitesmoke;
}

input[type='submit']:hover{
    scale: 1.1;
}

input[type='submit']:active{
    background-color: hsl(0, 5%, 4%);
}
#card{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}
p{
    max-height: 2rem
}
#descriptionDisplay{
    color: hsl(348, 5%, 19%);
    margin: 0px;
    display: grid;
    place-content: center;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}
#weatherIcon{
    position:relative;
    top: -1rem;
}
#marker{
    max-height: 2.5rem
}

#cityDisplay{
    font-weight: bold;
    font-size: 22px;
}

#tempDisplay{
    font-size: 1.02rem;
}
#locationDateDisplay{
    min-width: 4rem
}

#tempIcon, #feelsIcon{
   height: 40px;
   width: 50px;
}
#tempDisplay, #humidityDisplay,#feelsLikeDisplay{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
#humidityIcon{
    height: 30px;
    width: 30px;
    position: relative;

}

#windIcon, #speedIcon{
    height: 30px;
    width: 30px;
    position: relative;
    top: 0rem;
}

#WindDisplay{
    display: grid;
    place-content: center;
    padding-bottom: 1rem;
}
.windSpan{
    position: relative;
    bottom: 0.5rem;
}

footer{
    text-align: center;
   
}